/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        vscodeFindFile: vscodeFindFile {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp F1 &kp BACKSPACE &tog 0>;
            label = "VSCODEFINDFILE";
        };
    };

    behaviors {
        holdLayer: holdLayer {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLDLAYER";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "balanced";
        };

        tap_hold: tap_hold {
            compatible = "zmk,behavior-hold-tap";
            label = "TAP_HOLD";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&kp ESC    &kp N1                    &kp N2                &kp N3                &kp N4                  &kp N5                               &kp N6         &kp N7                  &kp N8                &kp N9                &kp N0                            &kp BSPC
&kp TAB    &kp Q                     &kp W                 &kp E                 &kp R                   &kp T                                &kp Y          &kp U                   &kp I                 &kp O                 &kp P                             &kp DELETE
&kp LSHFT  &tap_hold LEFT_CONTROL A  &tap_hold LEFT_GUI S  &tap_hold LEFT_ALT D  &tap_hold LEFT_SHIFT F  &kp G                                &kp H          &tap_hold LEFT_SHIFT J  &tap_hold LEFT_ALT K  &tap_hold LEFT_GUI L  &tap_hold LEFT_CONTROL SEMICOLON  &kp APOS
&kp LCTRL  &kp Z                     &kp X                 &kp C                 &kp V                   &kp B      &kp LBKT      &kp RBKT    &kp N          &kp M                   &kp COMMA             &kp DOT               &kp FSLH                          &kp ENTER
                                                           &kp LGUI              &kp LALT                &kp SPACE  &kp ESCAPE    &kp RETURN  &kp BACKSPACE  &to 0                   &kp LG(SPACE)
            >;
        };

        num-sym {
            bindings = <
&trans  &kp F1                          &kp F2                      &kp F3                   &kp F4                     &kp F5                                        &kp F6                    &kp F7                        &kp F8                       &kp F9                               &kp F10                               &kp F11
&trans  &kp EXCLAMATION                 &kp AT_SIGN                 &kp POUND                &kp DOLLAR                 &kp PERCENT                                   &kp CARET                 &kp AMPERSAND                 &kp ASTERISK                 &kp LEFT_PARENTHESIS                 &kp RIGHT_PARENTHESIS                 &kp F12
&trans  &tap_hold EXCLAMATION NUMBER_1  &tap_hold AT_SIGN NUMBER_2  &tap_hold HASH NUMBER_3  &tap_hold DOLLAR NUMBER_4  &tap_hold PERCENT NUMBER_5                    &tap_hold CARET NUMBER_6  &tap_hold AMPERSAND NUMBER_7  &tap_hold ASTERISK NUMBER_8  &tap_hold LEFT_PARENTHESIS NUMBER_9  &tap_hold RIGHT_PARENTHESIS NUMBER_0  &trans
&trans  &trans                          &trans                      &trans                   &trans                     &trans                      &trans    &trans  &trans                    &trans                        &trans                       &trans                               &trans                                &trans
                                                                    &trans                   &trans                     &trans                      &trans    &trans  &trans                    &trans                        &trans
            >;
        };

        braces {
            bindings = <
&trans  &trans  &trans  &trans    &trans    &trans                    &trans  &trans                &trans                 &trans          &trans           &trans
&trans  &trans  &trans  &trans    &trans    &trans                    &trans  &kp K_PREV            &kp K_PLAY_PAUSE       &kp K_NEXT      &trans           &trans
&trans  &trans  &trans  &kp LBKT  &kp RBKT  &trans                    &trans  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LEFT_BRACE  &kp RIGHT_BRACE  &trans
&trans  &trans  &trans  &trans    &trans    &trans  &trans    &trans  &trans  &trans                &trans                 &trans          &trans           &trans
                        &trans    &trans    &trans  &trans    &trans  &trans  &trans                &trans
            >;
        };

        sym {
            bindings = <
&trans  &trans    &trans    &trans          &trans     &trans                    &trans  &trans         &trans     &trans        &trans  &trans
&trans  &trans    &trans    &trans          &trans     &trans                    &trans  &trans         &trans     &trans        &trans  &trans
&trans  &kp BSLH  &kp PIPE  &kp UNDERSCORE  &kp MINUS  &trans                    &trans  &kp LS(COLON)  &kp EQUAL  &kp LS(PLUS)  &trans  &trans
&trans  &trans    &trans    &trans          &trans     &trans  &trans    &trans  &trans  &trans         &trans     &trans        &trans  &trans
                            &trans          &trans     &trans  &trans    &trans  &trans  &trans         &trans
            >;
        };

        gaming {
            bindings = <
&kp ESC    &kp N1  &kp N2  &kp N3    &kp N4    &kp N5                                  &kp N6  &kp N7  &kp N8         &kp N9   &kp N0    &kp BSPC
&kp TAB    &kp Q   &kp W   &kp E     &kp R     &kp T                                   &kp Y   &kp U   &kp I          &kp O    &kp P     &kp DELETE
&kp LSHFT  &kp A   &kp S   &kp D     &kp F     &kp G                                   &kp H   &kp J   &kp K          &kp L    &kp SEMI  &kp APOS
&kp LCTRL  &kp Z   &kp X   &kp C     &kp V     &kp B      &kp LBKT      &kp RBKT       &kp N   &kp M   &kp COMMA      &kp DOT  &kp FSLH  &kp ENTER
                           &kp LGUI  &kp LALT  &kp SPACE  &kp ESCAPE    &kp BACKSPACE  &sl 0   &to 0   &kp LG(SPACE)
            >;
        };
    };
};
